# Practice for SQL Subqueries

Connect to the Database and import the appropriate libaries.

In [ ]:
# Run this code without change

import sqlite3
import pandas as pd
conn = sqlite3.Connection('data.sqlite')

1. Write an Equivalent Query using a Subquery

The following query works using a JOIN. Rewrite it so that it uses a subquery instead.

```
SELECT
    customerNumber,
    contactLastName,
    contactFirstName
FROM customers
JOIN orders
    USING(customerNumber)
WHERE orderDate = '2003-01-31'
;
```

2. Select the Total Number of Orders for Each Product Name
- Sort the results by the total number of items sold for that product.

In [ ]:
# Your code here

3. Select the Product Name and the Total Number of People Who Have Ordered Each Product
- Sort the results in descending order.

In [ ]:
# Your code here

4. Select the Employee Number, First Name, Last Name, City (of the office), and Office Code of the Employees who sold products that have been ordered by fewer than 20 people.
- Hint:  To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [ ]:
# Your code here

5. Select the Employee Number, First Name, Last Name, and Number of Customers for Employees whose customers have an average credit limit over 15K.

In [ ]:
# Your code here