# Practice for Join Statements with SQL

Import the necessary packages and connect to the database 'data.sqlite'.

In [ ]:
# Run without change

# Libraries and database

import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')

1. Select the names (frist and last) of all employees in Boston

In [ ]:
# Your code here

2. Are there any offices that have zero employees?

In [ ]:
# Your code here

3. How many customers are there per office?

In [ ]:
# Your code here

4. Display the names of every individual product that each employee has sold as a dataframe.

In [ ]:
# Your code here

5. Display the number of products each employee has sold
- Alphabetize the results by employee last name.
- Use the quantityOrdered column from orderDetails.
- Think about how to group the data when some employees might have the same first or last name.

In [ ]:
# Your code here

6.  Display the names of employees who have sold more than 200 different products.

In [ ]:
# Your codde here